@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "MasterTemplate.cshtml";
}

<script src="/scripts/ContentSearchModel.js"></script>


<div>
	<input class="filterbox" id="SearchText" placeholder="Search text" oninput="getFilteredContent('@Umbraco.AssignedContentItem.Id')" />
	<script>
		getFilteredContent('@Umbraco.AssignedContentItem.Id');
	</script>
</div>

<div class="resultslist">
	<ul id="ResultsDisplay"></ul>
</div>
