@using Umbraco.Cms.Core.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContentNode>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "MasterTemplate.cshtml";
}

<div class="contentcontainer">
	<div class="contentimgcontainer">
		<img class="contentimg" src=@(Model.Picture.MediaUrl())>
	</div>
	<h3 class="contenttitle">@Model.ContentName</h3>
	<p class="contenttext">@Model.BodyText</p>
</div>