@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}
<head>
  <link rel="stylesheet" href="/css/main.css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
</head>

<body>
	<div class="topnav">

		<a class=@(Model.Url() == Model.Root().Url() ? "active" : "element")
			 href=@Model.Root().Url()>Home</a>

		<a class=@(Model.UrlSegment() == "blogs" ? "active" : "element")
			 href=@(string.Format("{0}{1}", Model.Root().Url(), "blogs"))>Blogs</a>

		<a class=@(Model.UrlSegment() == "news" ? "active" : "element")
			 href=@(string.Format("{0}{1}", Model.Root().Url(), "news"))>News</a>

		<a class=@(Model.UrlSegment() == "all-content" ? "active" : "element")
			 href=@(string.Format("{0}{1}", Model.Root().Url(), "all-content?searchString=a"))>All	Content</a>

		<div class="logo">
			<h2 class="mainlogo">
				@(new HtmlString(Model.Value("title", fallback: Fallback.ToDefaultValue, defaultValue: "Nick's website")))
			</h2>
			<h5 class="sublogo">
				@(new HtmlString(Model.Value("subtitle")?.ToString() ?? string.Empty))
			</h5>
		</div>

	</div>

	@RenderBody()

	<footer>@Model.Value("Footer", fallback: Fallback.ToDefaultValue, defaultValue: "Default footer")</footer>
</body>
