@using Umbraco_Flex.ViewModels;
@{
}

@model IEnumerable<IPublishedContent>

<div class="resultslist" id="searchResults">
	<ul>
		@foreach (var content in Model)
		{
			<partial name="ContentSearchResult" model="new ContentNodeViewModel(content, null)" />
		}
	</ul>
</div>

	
