@using Umbraco.Cms.Core.Strings;
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

<h3 class="contenttitle">@((Model.Content as ContentNodeTitle)?.Title)</h3>

